@font-face {
    font-family: Inter;
    src: url("assets/fonts/inter/Inter_28pt-Regular.ttf");
}
@import "tailwindcss";

@theme{
    --font-inter: Inter, "sans-serif";
}



body{
    background-color: #121827;
}
textarea{
    field-sizing: content;
}

